repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true
      
      - id: ruff-check
        name: ruff check --fix
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true
      
      - id: tests
        name: pytest
        entry: uv run pytest tests -x -qq
        language: system
        pass_filenames: false
        always_run: true
